<article class = "BOXED">
<h1 class ="omg"> {{user.firstname}}'s Profile </h1>

    <p>FIRST--NAME </p>
    <p class =  "BOXED2">     {{user.firstname}}</p>
    <p>LAST--NAME</p>
    <p class =  "BOXED2">     {{user.lastname}}</p>
    <p>PROFESSION</p>
    <p class =  "BOXED2">     {{user.profession}}</p>
    <p>BIO</p>
    <p class =  "BOXED2">     {{user.bio}}</p>


</article>

<a href="/logout">LOG OUT</a>